html {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
}

.grid-container {
    display: grid;
    grid-template-rows: 33vh 15vh 15vh;
    grid-template-columns: 1fr;
    background-color: white;
    border-radius: 20px;
    margin: 10%;
}

.qr-img {
    object-fit: scale-down;
    border-radius: 20px;
    width: 90%;
    height: 90%;
    justify-self: center;
    margin-top:10px;
}

.qr-text-heading {
    margin-top: 5%;
    padding:5%;
    text-align: center;
    font-weight: 700;
    font-size: 1.5em;
}

.qr-text-content {
    color: hsl(220, 15%, 55%);
    text-align: center;
    font-weight: 400;
    font-size: 1.2em;
    padding: 5%;
    padding-bottom: 10%;
}



