html {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
}

.container {
    display: flex;
    align-items: center;
    min-height: 98vh;
    max-width: 300px;
    margin: 0 auto;
}

.card{
    background-color: white;
    box-shadow: 5px 5px 5px grey;
    border-radius: 20px;
    padding: 5% 5%;
}

.card img {
    width: 100%;
    border-radius: 14px;
}

.text{
    padding: auto 0;
    text-align: center;
}



